.container{
    height: 100vh;
    background-image: url('../../../assets/images/cocktel.jpg');
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center ;
    }
.cartel{
    position:absolute;
    top:140px;
    left:100px;
    color:white;
    
    font-weight: 500;
}
h2{
    font-size: 2em;
}
